@{
    ViewBag.Title = "CheckBox";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>CheckBox Features:</h2>
<br/>
<li> Default</li>
<li> Theme - Tailwind CSS</li>
<br/>
<h2>Check Box</h2>
<div id = "ControlRegion">
            <ejs-checkbox id="checkcox" label="CheckBox" checked="true"></ejs-checkbox>
            <br />
    <style>
        .frame {
            width: 30%;
        }
        td {
            padding: 10px;
        }
        .spltspan{
            width:50px;
        }
		#ControlRegion {
            width: 121px;
        }
        .e-checkbox-wrapper {
            margin: 13px;
        }
    </style>
</div>
