@{
    ViewBag.Title = "BarcodeFeatures";
	 Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id = "ControlRegion">
               <ejs-barcodegenerator id="container" width="200px" height="150px" type="Code128" value="Syncfusion"></ejs-barcodegenerator> 
</div>
