@{
    ViewBag.Title = "PdfViewer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Syncfusion.EJ2
<h2>PDFViewer Features:</h2>
<br/>
<li> Default</li>
<li> Theme - Tailwind CSS</li>
<br/>
<div id = "ControlRegion">
<div style="width:100%;height:600px">
   <ejs-pdfviewer id="container" style="height:600px" serviceUrl="/api/PdfViewer" documentPath="PDF_Succinctly.pdf"></ejs-pdfviewer>
</div>
