@{
    ViewBag.Title = "Split Button";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Split Button Features:</h2>
<br/>
<li> Default</li>
<li> Theme - Tailwind CSS</li>
<br/>
<div id = "ControlRegion">
              <h2>Split Button</h2>
            <ejs-splitbutton id="splitbtn" content="Paste" items="ViewBag.items"></ejs-splitbutton>
    <style>
        .frame {
            width: 30%;
        }
        td {
            padding: 10px;
        }
        .spltspan{
            width:50px;
        }
    </style>
</div>
