@{
    ViewBag.Title = "Image Editor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Syncfusion.EJ2
<h2>Image Editor</h2>
<br/>
<li> Default</li>
<li> Theme - Tailwind CSS</li>
<br/>
<div id = "ControlRegion">
	<div class="e-wrapper-control">
		<ejs-imageeditor id="e-image-editor"></ejs-imageeditor>
	</div>
</div>
<style>
    .e-wrapper-control {
        height: 80vh;
        width: 80vw;
    }
    .e-image-editor {
        margin: 0 auto;
    }
</style>
