@{
    ViewBag.Title = "ListBox";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id = "ControlRegion">
<div class="col-lg-12 control-section">
    <div id="listbox-control" style="width:30%"><br/>
        <h4>Select your favorite car:</h4>
        <ejs-listbox id="listbox" dataSource="ViewBag.data" ></ejs-listbox>
    </div>
</div>
</div>
