@page "/imageeditor-features"
@using Syncfusion.Blazor.ImageEditor
<PageTitle>Image Editor</PageTitle>
<h2>Image Editor</h2>
<div>
  <h3>Selected Features:</h3>
    <ul class="ulstyle">
      <li class="list"> Default</li>
      <li class="list"> Theme - Material</li>
    </ul>
</div>
<br/>
<div id = "ControlRegion">
<SfImageEditor Height="500px">
</SfImageEditor>
</div>
