@page "/pdfviewer2-features"
@using Syncfusion.Blazor.SfPdfViewer
<PageTitle>PDF Viewer 2</PageTitle>
<h2>PDF Viewer 2</h2>
<br/>
<div id = "ControlRegion">
<SfPdfViewer2 DocumentPath="@DocumentPath" Height="500px" Width="750px">
</SfPdfViewer2>
</div>
<br/>
<div>
  <h3>Selected Features:</h3>
    <ul class="ulstyle">
      <li class="list"> Default</li>
      <li class="list"> Theme - Material</li>
    </ul>
</div>
<br/>
<style>
    #ControlRegion {
        margin: 0 auto;
        width:750px;
    }
    .ulstyle {
        margin: 0px;
        padding-left: 20px;
        display: inline-block;
    }
    .list {
    float: left;
    line-height: 20px;
    margin: 10px;
    min-width: 200px;
    }
</style>
@code{
    private string DocumentPath { get; set; } = "wwwroot/PDFViewer2/Blazor_Succinctly.pdf";
}
