@{
    ViewBag.Title = "Progress Button";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Progress Button Features:</h2>
<br/>
<li> Default</li>
<li> Theme - Tailwind CSS</li>
<br/>
<div id = "ControlRegion">
			<h2>Progress Button</h2>
<div>
    <ejs-progressbutton id="progress-btn" content="Progress" enableProgress="true"></ejs-progressbutton>
</div>
<br />
    <style>
        .frame {
            width: 30%;
        }
        td {
            padding: 10px;
        }
        .spltspan{
            width:50px;
        }
    </style>
</div>
